<?xml version='1.0' encoding='utf-8'?>
<Server port="8005" shutdown="SHUTDOWN">
  <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" />
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />

  <Service name="Catalina">

    <Connector protocol="org.apache.coyote.http11.Http11NioProtocol"
               port="443" 
               maxThreads="200"
               scheme="https"
               secure="true" 
               SSLEnabled="true"
               defaultSSLHostConfigName="IdP">
      <SSLHostConfig hostName="IdP"
          ciphers="ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384"
          disableSessionTickets="true"
          honorCipherOrder="false"
          protocols="TLSv1.2,TLSv1.3">
        <Certificate
            certificateFile="/opt/certs/idp-default.crt" 
	    certificateKeyFile="/opt/certs/idp-default.key" />
      </SSLHostConfig>
      <!--<UpgradeProtocol className="org.apache.coyote.http2.Http2Protocol" />-->
    </Connector>

    <Engine name="Catalina" defaultHost="localhost">

      <Host name="localhost"  appBase="webapps"
            unpackWARs="true" autoDeploy="true">

        <Valve className="org.apache.catalina.valves.AccessLogValve"
               directory="/tmp" prefix="tomcat_access_log" 
               rotatable="false" pattern="%h %l %u %t &quot;%r&quot; %s %b" />

      </Host>
    </Engine>
  </Service>
</Server>

